name: Automated Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: 

permissions:
  contents: write

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        working-directory: ./Test Suite Folder
        run: npm install

      - name: Run Cypress Tests
        working-directory: ./Test Suite Folder
        run: npx cypress run
        continue-on-error: true

      - name: Generate Allure Report
        working-directory: ./Test Suite Folder
        run: |
          npm install -g allure-commandline
          npx allure generate allure-results --clean -o allure-report

      - name: Deploy Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        if: always() # Run even if tests fail
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./Test Suite Folder/allure-report